<md-content layout-padding>
      <div layout='row' layout-align='center center'>
          <h3 class='md-headline'>Editing {{placeObject.place.name}}</h3>
      </div>
        <form name='editPlaceForm'>

            <div flex-sm>
                <md-input-container class='md-block' flex-gt-xs>
                    <label>Name of Place</label>
                    <input type='text' ng-model='location.name'>
                </md-input-container>
            </div>

            <div layout='row'>
              <md-input-container flex="35">
                    <label>Date Added</label>
                    <md-datepicker md-hide-icons="calendar" md-open-on-focus ng-model='location.dateAdded'></md-datepicker>
                </md-input-container>

                <md-input-container flex="65">
                    <label>Type</label>
                    <md-select ng-model='location.type' placeholder ="{{placeObject.place.type}}">
                        <md-option ng-repeat='type in types' value='{{type.type}}'>
                            {{type.type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout-gt-xs='row'>
                <md-input-container class='md-block' flex-gt-xs>
                    <label>Address</label>
                    <input ng-model='location.address' placeholder ="{{placeObject.place.address}}">
                </md-input-container>
            </div>

            <div layout-gt-xs='row'>
                <md-input-container class='md-block' flex-gt-xs>
                    <label>City</label>
                    <input ng-model='location.city' placeholder ="{{placeObject.place.city}}">
                </md-input-container>
            </div>

            <div layout='row'>
                <md-input-container flex='50'>
                    <label>State</label>
                    <md-select ng-model='location.state' placeholder ="{{placeObject.place.state}}">
                        <md-option ng-repeat='state in states' value='{{state.abbrev}}'>
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex='50'>
                    <label>Zip Code</label>
                    <input ng-model='location.zipcode' placeholder ="{{placeObject.place.zipcode}}">
                </md-input-container>
            </div>

            <div layout-gt-xs='row'>
                <md-input-container class='md-block' flex-gt-xs>
                    <label>Website</label>
                    <input ng-model='location.website' placeholder ="{{placeObject.place.website}}">
                </md-input-container>
            </div>

            <div layout-gt-xs='row'>
                <md-input-container class='md-block' flex-gt-xs>
                    <label>Recommender</label>
                    <input ng-model='location.recommender' placeholder ="{{placeObject.place.recommender}}">
                </md-input-container>

                <md-input-container class='md-block' flex-gt-xs>
                    <label>Recommendations</label>
                    <input ng-model='location.recNotes' placeholder ="{{placeObject.place.recNotes}}">
                </md-input-container>
            </div>

            <div layout="row" layout-align="end center">
                <md-button class='md-raised md-primary md-hue-1' href='#/tovisit'>Cancel</md-button>
                <md-button class='md-raised md-primary md-hue-3' ng-click ='editPlace(placeObject, location)' href='#/tovisit'>Save Changes</md-button>
            </div>

        </form>
    </div>
</md-content>

</div>
