<div ng-controller='HeaderController'>
  <header ng-include="'/views/partials/header.html'"></header>
</div>

<div ng-include="'views/partials/nav.html'"></div>

<div class="list_container">

  <md-card md-theme="{{ showDarkTheme ? 'primary' : 'default' }}" md-theme-watch ng-repeat='place in locationList.data | filter: {visited:"true"} | orderBy:"id": true'>

    <md-card-header layout='row' md-colors="::{backgroundColor: 'default-primary-A100'}">
       <md-card-title-text flex='90'>
         <span class="md-title">{{place.name}}</span>
       </md-card-title-text>

       <md-button class="md-icon-button" aria-label="More" ng-click="getThisPlace(place)" href='#/edit' flex='10'>
         <i class="material-icons">edit</i>
       </md-button>

       <md-button class="md-icon-button" aria-label="More" ng-click="deletePlace(place)" flex='10'>
         <i class="material-icons">delete</i>
       </md-button>

       </md-card-header>

       <md-card-content layout='row'>
         <div flex='80'>
           <span class="md-subhead">"{{place.recNotes}}"</span><br>
           <span class="md-body-2">-{{place.recommender}}</span><br>
         </div>

          <md-card-image flex='20'>
            <div class="md-media-sm card-media">
              <img src="../styles/imgs/{{place.image}}" class="md-card-image" alt="place image"/>
            </div>
          </md-card-image>
        </md-card-content>

      <md-card-actions layout="row" layout-align='end center'>
       <div flex='5'></div>
       <div flex='45'>
         <span class="md-caption">{{place.type}} | {{place.dateAdded | date:"MM/dd/yyyy"}}</span>
       </div>

        <md-button ng-click='getThisPlace(place)' href='#/submit'>Do This!</md-button>
        <md-button ng-click='getThisPlace(place)' href='#/expand'>Details</md-button>
      </md-card-actions>
    </md-card>

 </div>
