.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #333333;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.list_container {

}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

md-nav-bar {
  background-color: #ffffff; }

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    /*position: absolute;*/
    position: fixed !important;
}

#addButton {
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
}

.card-media {
  background-color: #999999;
}

#navBarContent {
  background-color: transparent !important;
}

md-content md-nav-bar {
  background: #f6f6f6;
}

md-content md-nav-bar md-tabs-wrapper {
  background: white;
}

md-content h1:first-child {
  margin-top: 0;
}

md-card .md-actions:not(.layout-column) .md-button.md-icon-button:last-of-type, md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:last-of-type {
     margin-right: 0px; 
}
