<md-toolbar class="md-default">
      <div class="md-toolbar-tools" layout='row' id='headerTitle'>

          <h1 flex md-truncates href='#/tovisit'>Bucket //</h1>

      <md-menu>
        <md-button class="md-icon-button" aria-label="Logout" ng-click="openMenu($mdMenu, $event)">
          <md-icon md-menu-origin><i class="material-icons" id='headerMenuBtn'>menu</i></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="header()">
              <b>Logout</b>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      </div>
    </md-toolbar>
